body {
    background-color: rgb(16, 241, 241);
    /* display: flex; */
    /* flex-wrap: wrap; */
}

img {
    width: 150px;
    height: 150px;
}

.app {
    border: 5px red solid;
    display: flex;
    flex-direction: column;
}

.app-top {
    display: flex;
    border: 5px blue solid;
    justify-content: space-between;
}

.picture-modal {
    border: 5px yellow solid;
}

.bioeditor {
    border: 5px black solid;
}

.profile-container {
    border: 5px white solid;
}
